@import url('reset.css');

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Global */
:root {
    --main-color-white: #FFFFFF;
    --main-color-blue: #2F303A;
    --main-color-grey: #757575;
    --title-color: #212121;
    --main-color-light-grey: #F5F4FA;
    --active-color: #2196F3; 
    --header-underline: #ECECEC;
    --portfolio-card-border: #EEEEEE;
    --portfolio-card-back: rgba(33, 150, 243, 0.898) 90%;
}

html,
body {
    height: 100%;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body {
    background-color: var(--main-color-white);
    color: var(--main-color-grey);
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: var(--title-color);
    text-align: center;
}

/* Header */
.header {
    padding: 24px 0;
    border-bottom: solid 1px var(--header-underline);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: 93px;
    display: flex;
    align-items: center;
    width: 100%;
}

.header-nav-main, .header-nav-contacts {
    display: flex;
    column-gap: 50px;
}

.header-nav-contacts {
    margin-left: auto;
}

.nav-link, .nav-link-contacts {
    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
}

.nav-link:hover, .nav-link-contacts:hover {
    color: var(--active-color);
}

.nav-link-contacts:last-child {
    color: var(--main-color-grey);
}

.header-logo img {
    width: 145px;
    height: 31px;
}

/* main */
.hero-section {
    background-color: var(--main-color-blue);
}

.hero-container {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--main-color-white);
    text-align: center;
    max-width: 696px;
    line-height: 60px;
}

.hero-button {
   margin-top: 30px; 
   padding: 10px 46px;
   font-weight: 700;
   line-height: 30px;
   font-size: 16px;
   color: var(--main-color-white);
   background-color: var(--active-color);
   border-radius: 4px;
   border: none;
   cursor: pointer;
}

.why-us-container {
    margin-top: 94px;
    display: flex;
    gap: 30px;
    flex: 1 1 25%;
}

.why-us-items {
    max-width: 270px;
}

.why-us-items-title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--title-color);
}

.why-us-items-text {
    margin-top: 10px;
    line-height: 24px;
}

.what-are-we-doing {
    padding-bottom: 94px;
}

.what-are-we-doing-container {
    margin-top: 94px;
}

.what-are-we-doing-inner {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.what-are-we-doing-image-container {
    width: 370px;
    height: 294px;
    flex: 1 1 30%;
}

.what-are-we-doing-image-container img {
   width: 100%;
   height: 100%;
   object-fit: cover; 
}

.our-team {
    background-color: var(--main-color-light-grey);
    padding: 94px 0;
}

.our-team-items {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.our-team-item-title {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    color: var(--title-color);
}

.our-team-item {
    flex: 1 1 25%;
    background: var(--main-color-white);
    padding-bottom: 30px;
}

.our-team-item-job {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.our-team-item img {
    width: 270px;
    height: 260px;
    object-fit: cover;
}

/* footer */
.footer {
    background-color: var(--main-color-blue);
    padding: 60px 0;
    margin-top: auto;
}

.footer-image {
    display: inline-block;
}

.footer-image img {
    width: 161px;
    height: 31px;
}

.footer-links {
   margin-top: 20px;
}

.footer-links-item {
color: var(--main-color-white);
margin-top: 9px;
}

.footer-links-link {
    text-decoration: none;
    color: var(--main-color-white);
}

/* Portfolio */
.portfolio-filters {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 94px;
}

.portfolio-filter-buttons {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border-radius: 4px;
    min-width: 73px;
    min-height: 38px;
    padding: 6px 25px;
    background-color: var(--main-color-light-grey);
}

.portfolio-filter-buttons-active {
    background-color: var(--active-color);
    color: var(--main-color-white);
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 34px;
    gap: 30px;
    background-color: var(--main-color-white);
    margin-bottom: 94px;
}

.portfolio-cards-item {
    border: solid var(--portfolio-card-border);
    flex: 1 1 30%;
}

.portfolio-cards-item-image {
    height: 294px;
    position: relative;
}

.portfolio-cards-item-image-back {
    position: absolute;
    inset: 0;
    background: var(--portfolio-card-back);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.portfolio-cards-item:hover .portfolio-cards-item-image-back {
    opacity: 1;
}

.portfolio-cards-item-image-back-text {
    color: var(--main-color-white);
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
    padding: 24px;
}

.portfolio-cards-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-cards-item-text {
    padding: 20px 24px;
    background-color: var(--main-color-white);
}
.portfolio-cards-item-text-top {
    font-weight: 700;
    font-size: 16px;
    color: var(--title-color);
    line-height: 36px;
}
.portfolio-cards-item-text-bottom {
    margin-top: 4px;
    font-size: 16px;
    color: var(--main-color-grey);
    line-height: 30px;
}
